
*.user
*.nupkg
src/ZenCNC.STEAM/bin/Debug/config/grbl_v1.1f.xml
src/ZenCNC.STEAM/bin/Debug/config/machines/machine_12x12_8.xml
src/ZenCNC.STEAM/bin/Debug/config/machines/machine_7x12_8.xml
src/ZenCNC.STEAM/bin/Debug/config/machines/machine_7x7_1.25.xml
src/ZenCNC.STEAM/bin/Debug/config/machines/machine_7x7_8.xml
src/ZenCNC.STEAM/bin/Debug/config/machines/machine_vision_8.xml
src/ZenCNC.STEAM/bin/Debug/config/machines/machines.xml
src/ZenCNC.STEAM/bin/Debug/ZenCNC.STEAM.dll
src/ZenCNC.STEAM/bin/Debug/ZenCNC.STEAM.pdb
src/ZenCNC.STEAM/bin/Debug/ZenCNC.STEAM.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/ArduinoUploader.dll
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/grbl_v1.1f.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/machines/machine_12x12_8.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/machines/machine_7x12_8.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/machines/machine_7x7_1.25.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/machines/machine_7x7_8.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/machines/machine_vision_8.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/machines/machines.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/IntelHexFormatReader.dll
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/RJCP.SerialPortStream.dll
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/RJCP.SerialPortStream.pdb
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/RJCP.SerialPortStream.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/ZenCNC.STEAM.dll
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/ZenCNC.STEAM.pdb
src/ZenCNC.STEAM/obj/Debug/CoreCompileInputs.cache
src/ZenCNC.STEAM/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/ZenCNC.STEAM/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/ZenCNC.STEAM/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/ZenCNC.STEAM/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/ZenCNC.STEAM/obj/Debug/ZenCNC.STEAM.csproj.FileListAbsolute.txt
src/ZenCNC.STEAM/obj/Debug/ZenCNC.STEAM.csprojResolveAssemblyReference.cache
src/ZenCNC.STEAM/obj/Debug/ZenCNC.STEAM.dll
src/ZenCNC.STEAM/obj/Debug/ZenCNC.STEAM.pdb
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/ZenCNC.STEAM.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/ZenCNC.STEAM.WinForm.Control.pdb
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/ZenCNC.STEAM.WinForm.Control.dll
src/.vs/ZenCNC.STEAM/v15/.suo
src/.vs/ZenCNC.STEAM/v15/.suo
src/packages/ArduinoUploader.3.2.0/.signature.p7s
src/packages/ArduinoUploader.3.2.0/lib/net40/ArduinoUploader.dll
src/packages/ArduinoUploader.3.2.0/lib/net452/ArduinoUploader.dll
src/packages/IntelHexFormatReader.2.2.1/lib/net452/IntelHexFormatReader.dll
src/packages/IntelHexFormatReader.2.2.1/lib/netcoreapp1.0/IntelHexFormatReader.dll
src/packages/SerialPortStream.2.1.2/lib/net40/RJCP.SerialPortStream.dll
src/packages/SerialPortStream.2.1.2/lib/net40/RJCP.SerialPortStream.pdb
src/packages/SerialPortStream.2.1.2/lib/net40/RJCP.SerialPortStream.XML
src/packages/SerialPortStream.2.1.2/lib/net45/RJCP.SerialPortStream.dll
src/packages/SerialPortStream.2.1.2/lib/net45/RJCP.SerialPortStream.pdb
src/packages/SerialPortStream.2.1.2/lib/net45/RJCP.SerialPortStream.XML
src/packages/SerialPortStream.2.1.2/lib/netstandard1.5/RJCP.SerialPortStream.dll
src/packages/SerialPortStream.2.1.2/lib/netstandard1.5/RJCP.SerialPortStream.pdb
src/packages/SerialPortStream.2.1.2/lib/netstandard1.5/RJCP.SerialPortStream.xml
src/packages/SerialPortStream.2.1.2/src/Datastructures/CircularBuffer.cs
src/packages/SerialPortStream.2.1.2/src/Datastructures/TimerExpiry.cs
src/packages/SerialPortStream.2.1.2/src/GlobalSuppressions.cs
src/packages/SerialPortStream.2.1.2/src/HandShake.cs
src/packages/SerialPortStream.2.1.2/src/InternalApplicationException.cs
src/packages/SerialPortStream.2.1.2/src/LocalAsyncResult.cs
src/packages/SerialPortStream.2.1.2/src/Native/INativeSerial.cs
src/packages/SerialPortStream.2.1.2/src/Native/ISerialBufferSerialData.cs
src/packages/SerialPortStream.2.1.2/src/Native/ISerialBufferStreamData.cs
src/packages/SerialPortStream.2.1.2/src/Native/Platform.cs
src/packages/SerialPortStream.2.1.2/src/Native/ReadToCache.cs
src/packages/SerialPortStream.2.1.2/src/Native/SerialBuffer.cs
src/packages/SerialPortStream.2.1.2/src/Native/Unix/INativeSerialDll.cs
src/packages/SerialPortStream.2.1.2/src/Native/Unix/SafeNativeMethods.cs
src/packages/SerialPortStream.2.1.2/src/Native/Unix/SafeSerialHandle.cs
src/packages/SerialPortStream.2.1.2/src/Native/Unix/SerialReadWriteEvent.cs
src/packages/SerialPortStream.2.1.2/src/Native/Unix/SerialUnix.cs
src/packages/SerialPortStream.2.1.2/src/Native/Unix/SysErrNo.cs
src/packages/SerialPortStream.2.1.2/src/Native/Unix/UnsafeNativeMethods.cs
src/packages/SerialPortStream.2.1.2/src/Native/Unix/WaitForModemEvent.cs
src/packages/SerialPortStream.2.1.2/src/Native/UnixNativeSerial.cs
src/packages/SerialPortStream.2.1.2/src/Native/Windows/CommErrorEventArgs.cs
src/packages/SerialPortStream.2.1.2/src/Native/Windows/CommEventArgs.cs
src/packages/SerialPortStream.2.1.2/src/Native/Windows/CommModemStatus.cs
src/packages/SerialPortStream.2.1.2/src/Native/Windows/CommOverlappedIo.cs
src/packages/SerialPortStream.2.1.2/src/Native/Windows/CommProperties.cs
src/packages/SerialPortStream.2.1.2/src/Native/Windows/CommState.cs
src/packages/SerialPortStream.2.1.2/src/Native/Windows/DtrControl.cs
src/packages/SerialPortStream.2.1.2/src/Native/Windows/NativeMethods.cs
src/packages/SerialPortStream.2.1.2/src/Native/Windows/RtsControl.cs
src/packages/SerialPortStream.2.1.2/src/Native/Windows/SafeNativeMethods.cs
src/packages/SerialPortStream.2.1.2/src/Native/Windows/UnsafeNativeMethods.cs
src/packages/SerialPortStream.2.1.2/src/Native/Windows/WinError.cs
src/packages/SerialPortStream.2.1.2/src/Native/WinNativeSerial.cs
src/packages/SerialPortStream.2.1.2/src/netstandard/netstandard.xproj
src/packages/SerialPortStream.2.1.2/src/netstandard/project.json
src/packages/SerialPortStream.2.1.2/src/netstandard/System/EntryPointNotFoundException.cs
src/packages/SerialPortStream.2.1.2/src/netstandard/System/IO/Ports/SerialPort.cs
src/packages/SerialPortStream.2.1.2/src/Parity.cs
src/packages/SerialPortStream.2.1.2/src/PortDescription.cs
src/packages/SerialPortStream.2.1.2/src/Properties/AssemblyInfo.cs
src/packages/SerialPortStream.2.1.2/src/SerialData.cs
src/packages/SerialPortStream.2.1.2/src/SerialDataEventArgs.cs
src/packages/SerialPortStream.2.1.2/src/SerialError.cs
src/packages/SerialPortStream.2.1.2/src/SerialErrorReceivedEventArgs.cs
src/packages/SerialPortStream.2.1.2/src/SerialPinChange.cs
src/packages/SerialPortStream.2.1.2/src/SerialPinChangedEventArgs.cs
src/packages/SerialPortStream.2.1.2/src/SerialPortStream-net40.csproj
src/packages/SerialPortStream.2.1.2/src/SerialPortStream-net45.csproj
src/packages/SerialPortStream.2.1.2/src/SerialPortStream.cs
src/packages/SerialPortStream.2.1.2/src/SerialTrace.cs
src/packages/SerialPortStream.2.1.2/src/StopBits.cs
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/CoreCompileInputs.cache
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.csproj.FileListAbsolute.txt
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.csprojResolveAssemblyReference.cache
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.dll
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.pdb
/src/SampleUI/bin/Debug
/src/SampleUI/bin/Debug/config/machines
/src/SampleUI/bin/Debug/config/machines/machine_vision_8.xml
/src/SampleUI/bin/Debug/config/machines/machine_7x7_8.xml
/src/SampleUI/bin/Debug/config/machines/machine_7x7_1.25.xml
/src/SampleUI/bin/Debug/config/machines/machine_7x12_8.xml
/src/SampleUI/bin/Debug/config/machines/machine_12x12_8.xml
src/SampleUI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/SampleUI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/SampleUI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/SampleUI/obj/Debug/SampleUI.Properties.Resources.resources
src/SampleUI/obj/Debug/SampleUI.pdb
src/SampleUI/obj/Debug/SampleUI.exe
src/SampleUI/obj/Debug/SampleUI.csprojResolveAssemblyReference.cache
src/SampleUI/obj/Debug/SampleUI.csproj.GenerateResource.Cache
src/SampleUI/obj/Debug/SampleUI.csproj.FileListAbsolute.txt
src/SampleUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/SampleUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/SampleUI/obj/Debug/CoreCompileInputs.cache
src/ZenCNC.STEAM/ZenCNC.STEAM.0.1.6.zip
src/ZenCNC.STEAM/ZenCNC.STEAM.1.0.0.zip
src/.vs/ZenCNC.STEAM/v15/.suo
src/ZenCNC.STEAM/ZenCNC.STEAM.nuspec1
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.pdb
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.dll
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.csprojResolveAssemblyReference.cache
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.csproj.GenerateResource.Cache
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.csproj.FileListAbsolute.txt
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/CoreCompileInputs.cache
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.pdb
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.dll
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.csprojResolveAssemblyReference.cache
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.csproj.GenerateResource.Cache
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/ZenCNC.STEAM.WinForm.Control.csproj.FileListAbsolute.txt
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/ZenCNC.STEAM.WinForm.Control/obj/Debug/CoreCompileInputs.cache
