
*.user
*.nupkg
src/ZenCNC.STEAM/bin/Debug/config/grbl_v1.1f.xml
src/ZenCNC.STEAM/bin/Debug/config/machines/machine_12x12_8.xml
src/ZenCNC.STEAM/bin/Debug/config/machines/machine_7x12_8.xml
src/ZenCNC.STEAM/bin/Debug/config/machines/machine_7x7_1.25.xml
src/ZenCNC.STEAM/bin/Debug/config/machines/machine_7x7_8.xml
src/ZenCNC.STEAM/bin/Debug/config/machines/machine_vision_8.xml
src/ZenCNC.STEAM/bin/Debug/config/machines/machines.xml
src/ZenCNC.STEAM/bin/Debug/ZenCNC.STEAM.dll
src/ZenCNC.STEAM/bin/Debug/ZenCNC.STEAM.pdb
src/ZenCNC.STEAM/bin/Debug/ZenCNC.STEAM.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/ArduinoUploader.dll
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/grbl_v1.1f.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/machines/machine_12x12_8.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/machines/machine_7x12_8.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/machines/machine_7x7_1.25.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/machines/machine_7x7_8.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/machines/machine_vision_8.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/config/machines/machines.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/IntelHexFormatReader.dll
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/RJCP.SerialPortStream.dll
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/RJCP.SerialPortStream.pdb
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/RJCP.SerialPortStream.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/ZenCNC.STEAM.dll
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/ZenCNC.STEAM.pdb
src/ZenCNC.STEAM/obj/Debug/CoreCompileInputs.cache
src/ZenCNC.STEAM/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/ZenCNC.STEAM/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/ZenCNC.STEAM/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/ZenCNC.STEAM/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/ZenCNC.STEAM/obj/Debug/ZenCNC.STEAM.csproj.FileListAbsolute.txt
src/ZenCNC.STEAM/obj/Debug/ZenCNC.STEAM.csprojResolveAssemblyReference.cache
src/ZenCNC.STEAM/obj/Debug/ZenCNC.STEAM.dll
src/ZenCNC.STEAM/obj/Debug/ZenCNC.STEAM.pdb
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/ZenCNC.STEAM.xml
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/ZenCNC.STEAM.WinForm.Control.pdb
src/ZenCNC.STEAM.WinForm.Control/bin/Debug/ZenCNC.STEAM.WinForm.Control.dll
